<header>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom container pt-2">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <i class="fas fa-calendar-week fa-2x"></i>
        <span class="fs-3 mx-2">Pricing example</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <%= create_event_btn %>
    <%= current_user_btn %>
      <%= sign_out_btn %>
      <%= sign_up_btn %> 
      <%= log_in_btn %>
      </nav>
    </div>
    </header>